{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-3 product-detail-img">
          <img src="{{product.image.url}}" alt="">
      </div>
      <div class="col-lg-6 float-right ml-5">
          <h1>{{product.name}}</h1>
          <p class="text-primary">${{product.price}}</p>
          <h4>Details</h4>
          <p>{{product.description|linebreaks}}
          </p>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="Add to Cart" class="btn btn-primary">
          </form>
          
      </div>
  </div>
</div>

<h1 class="text-center m-5">Other Altenatives</h1>
<div class="container-fluid">
    <div class="row ml-3">
      {% for product in products %}
          <div class="col-lg-3 justify-content-center ">
              <a class="card-links " href="#">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{{product.image.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">{{product.name}}</h5>
                          <p class="card-text"></p>
                          <p class="text-dark">${{product.price}}</p>
                      </div>
                  </div>
              </a>
          </div>
          {% endfor %}
          
         
         
      </div>
  </div>
{% endblock %}
