{% extends 'shop/base.html' %}
{% block content %}
<div class="jumbotron jumbotron-image jumbotron-fluid" style="height: 70vh;"> 
  <div class="container mt-5 ml-5 pt-4">
      <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
              <h1 class="display-5"><strong>Click</strong></h1>
              <h1 class="display-5"><strong>Buy</strong></h1>
              <h1 class="display-5 text-primary"><strong>Relax</strong></h1>
              <a href="#" class="btn btn-primary">Shop Now</a>
              <p class="lead text-primary"><strong>30% discount on every purchase this winter!</strong> </p>
          </div>
      </div>
  </div>
</div>
<h1 class="text-center m-5">Explore the mart</h1>
<div class="container-fluid">
  <div class="row ml-3">
        <div class="col-lg-3 ">
            <a class="card-links " href="#">
                <div class="card text-center" style="width: 18rem;">
                    <img src="images/02_galaxys21_ultra_phantom_titanium_back.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">RoboCleaner</h5>
                        <p class="card-text"></p>
                        <p class="text-dark">$5000</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

