*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron{
    background-color: white;
    width: 100%;
}
.jumbotron-image{
    background-image: url('../images/banner.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
card-links{
    padding-left: 1em;
}
.card-links:hover{
    text-decoration: none;
}
.product-detail-img img{
    width: 20rem;
}