{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
    <a class="navbar-brand" href="">
        <img src="{% static 'images/sploramart-logo.png' %}" style="width: 8em;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav ml-auto mr-3 mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link mr-2" href="#">Shop<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2" href="#">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-2" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-2" href="#">Cart</a>
          </li>
        <li class="nav-item">
          <a href="#" class="btn btn-primary">Login</a>
        </li>
      </ul>
      
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  </div>
</body>
