{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <header>
      <nav class="navbar">
          <img src="{% static 'images/sploramart-logo.png' %}" alt="SPLORAMART" class="navbar-brand">
          <ul>
              <li><a href="#">Special Offers</a></li>
              <li><a href="#">Auctioning</a></li>
              <li><a href="#">Deliveries</a></li>
              <li><a href="#">Cart</a></li>
              <li class="login-btn">Login</li>
          </ul>
      </nav>
  </header>
  {% block content %}
  {% endblock %}
  </div>
</body>